<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>displa dept details</h1>
        <table border="4px">
            <tr>
                <th>deptno</th>
                <th>dname</th>
                <th>loc</th>
            </tr>
            {% for d in dept %}
            <tr>
                <td>{{ d.deptno }}</td>
                <td>{{ d.dname }}</td>
                <td>{{ d.loc }}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>